*{
    padding: 0;
    margin: 0;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(162, 236, 236, 0.702);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    /* width: 75%;
    height: 75%;
    margin: 85px; */
    
}
.left-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;

}
.left-card p{
    padding: 15px;
}
.left-card img{
    width: 300px;
    height: 300px;
}
.right-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}
.right-card form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
input{
    width: 300px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: darkblue;
    border: 2px solid white;
    font-size: xx-large;
    color: white;
    width: 200px;
}
.text{
    padding: 10px;
    text-align: center;
    line-height: 40px;
}
button{
    width: 300px;
    height: 30px;
    background-color: rgb(250, 250, 30);
    border-style: none;
    border-radius: 5px;

}
#text1{
    font-size: 10px;
    color: gray;
}
#text2{
    font-size: 10px;
    color: gray;
}
.link a{
    text-decoration: none;
    color: gray;
}
/* .link a:checked{
    color: black;
} */